<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <h1>
        <%= heading %>
    </h1>
    <form method="POST" action="/new">
        <input type="text" placeholder="Message" name="message" minlength="3" required />
        <input type="text" placeholder="Author" name="author" min="2" required />
        <button type="submit">Submit</button>
    </form>
</body>

</html>